<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<title th:text="#{bank33.title}"></title>
<th:block layout:fragment="css"></th:block>
</head>
<body>
<!-- leftMenu -->
<div layout:fragment="menu">
    <div th:replace="include/menu :: banking"></div>
</div>
<!-- //leftMenu -->
<div layout:fragment="content">
    <th:block th:if="${securityYN}=='N'">권한이 없습니다.</th:block>
    <div class="contSection" th:if="${securityYN}=='Y'" id="contentView1">
        <form action="bank33" name="search_bank33_form" id="search_bank33_form" method="POST">
            <input type="hidden" name="sortName" th:value="${sortName}"/>
            <input type="hidden" name="sortOrderBy" th:value="${sortOrderBy}"/>
            <input type="hidden" name="page" id="page" th:value="${page}" />
            <input type="hidden" name="total" id="total" th:value="${response.counts.search}" />
            <input type="hidden" name="searchValue" id="searchValue" th:value="${searchValue}" />
            <div th:if="${searchValue}==''">
                <h2 class="tit_h2" th:text="#{bank33.h2}"></h2>
                <div class="tableStyle2 bankInfo mb20">
                    <table>
                        <colgroup>
                            <col style="width: 17%;" />
                            <col style="width: 33%;" />
                            <col style="width: 17%" />
                            <col style="width: 33%" />
                        </colgroup>
                        <tbody>
                        <tr>
                            <th th:text="#{bank33.table.user.id}"></th>
                            <td><span class="typeText"><input name="mb_id" type="text" th:placeholder="#{bank33.table.user.id}" th:value="${mb_id}"/></span></td>
                            <th th:text="#{bank33.table.request_date} + ' *'"> *</th>
                            <td>
                                <a href="javascript: setDateChoiceChange(0);"  class="dateSelectBtn2" th:text="#{bank33.date.select.btn.1}"></a>
                                <a href="javascript: setDateChoiceChange(2);"  class="dateSelectBtn2" th:text="#{bank33.date.select.btn.2}"></a>
                                <p class="dateChoice2">
                                     <span>
                                        <img src="/images/calendar_icon.png"/>
                                        <input id="req_dt" name="req_dt" type="text" class="datepicker-here"
                                               data-range="true"
                                               data-multiple-dates-separator=" - "
                                               th:data-language="${#locale}"
                                               placeholder="YYYY.MM.DD - YYYY.MM.DD"
                                               th:value="${req_dt != null} ? ${req_dt} : ''"
                                        />
                                    </span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{bank33.table.thead.th.od_request_address}"></th>
                            <td>
                                <span class="typeText"><input type="text" name="od_request_address" th:placeholder="#{bank33.table.thead.th.od_request_address}" th:value="${od_request_address}"/></span>
                            </td>
                            <th th:text="#{bank33.table.coin} + ' *'"></th>
                            <td class="sortTable">
                                <span class="typeSelect">
                                    <select name="coin_name">
                                        <option th:text="#{all}" value="ALL" th:selected="${coin_name}=='ALL' ? 'true' : 'false'"></option>
                                        <th:block th:if="${#lists.size(response.coinList)} > 0" th:each="coin : ${response.coinList}">
                                            <option th:attr="value=${coin.coin_name}" th:selected="(${coin_name}==${coin.coin_name}) ? 'true' : 'false'" th:text="${coin.coin_name}"></option>
                                        </th:block>
                                    </select>
                                </span>
                            </td>
                        </tr>
                        <!--
                        <tr>
                            <th th:text="#{mem1.wallet.destination}"></th>
                            <td>
                                <span class="typeText"><input type="text" name="withdraw_memo" th:placeholder="#{mem1.wallet.destination}" th:value="${withdraw_memo}" /></span>
                            </td>
                        </tr>
                        -->
                        </tbody>
                    </table>
                </div>
                <div class="buttonRight mb50">
                    <a href="javascript:void(0);" class="btnType" id="search_bank33_btn" th:text="#{search.btn}"></a>
                </div>
                <div class="listCountWrap">
                    <h3 class="tit_h3" th:if="${#locale.toString()} == 'ko'" th:text="#{cnt.search} + ' ' + ${response.counts.search}  + #{cnt}"></h3>
                    <h3 class="tit_h3" th:if="${#locale.toString()} == 'en'" th:text="${response.counts.search} + ' ' + #{cnt.search}"></h3>
                    <span class="typeSelect">
                        <a href="javascript:void(0);" id="bank33_excel_down_btn" class="btnType" th:text="#{excel.download.btn}">Excel D/L</a>
                        <select name="search_listCount" id="searchListCount">
                            <option value="10" th:selected="${search_listCount == 10}">10</option>
                            <option value="30" th:selected="${search_listCount == 30}">30</option>
                            <option value="50" th:selected="${search_listCount == 50}">50</option>
                            <option value="100" th:selected="${search_listCount == 100}">100</option>
                            <option value="1000" th:selected="${search_listCount == 1000}">1000</option>
                        </select>
                    </span>
                </div>
                <div class="tableStyle bankInfo aCenter head2 font13 mb20 fitTable">
                    <table>
                        <colgroup>
                        </colgroup>
                        <thead>
                        <tr>
                            <th th:text="#{number_}"></th>
                            <th th:text="#{bank33.table.request_date}"></th>
                            <th th:text="#{bank33.table.user.id}"></th>
                            <th><p class="orderby"><span th:text="#{bank33.table.coin.withdraw}"></span> <button type="button" id="coin_name" onclick="orderBy(this.id);" th:style="${sortName == 'coin_name'} ? 'color:red;' : ''" th:text="${sortName == 'coin_name' and sortOrderBy == 'ASC'} ? #{orderby.asc} : #{orderby.desc}"></button></p></th>
                            <th th:text="#{bank33.table.thead.th.amount}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${#lists.size(response.withdrawRequestList)} > 0" th:each="withdrawRequest, iter : ${response.withdrawRequestList}" th:class="${withdrawRequest.status == 'REQ'} ? 'bgRed' : (${withdrawRequest.status == 'HOLD'} ? 'bgOrange' : '')">
                            <td><a th:href="'bank33_mod?idx=' + ${withdrawRequest.idx}" th:text="${withdrawRequest.idx}"></a></td>
                            <td>
                                <span th:text="${#dates.format(withdrawRequest.create_dt, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            </td>
                            <td th:text="${withdrawRequest.mb_id}"></td>
                            <td th:text="${withdrawRequest.coin_name}"></td>
                            <td th:text="${#numbers.formatDecimal(withdrawRequest.return_amount, 1, 'COMMA', 4, 'POINT') + ' ' +withdrawRequest.coin_name} "></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pageFoot mb50">
                    <!--<p class="footText mb15">[ 최종 동기화 : YYYY.MM.DD 23:59:00 ]</p>-->
                    <ul class="footList">
                        <li th:text="#{footer.message.1}"></li>
                    </ul>
                </div>
                <div class="pageFoot inPaging">
                    <div class="paging">
                        <a href="javascript: goPage('1', '#search_bank33_form');" class="prevBt"></a>
                        <a th:if="${response.pageNaviResponse.isPrev == 1}" href="javascript: goPrePage('#search_bank33_form');" class="beforeBt"></a>
                        <a th:if="${response.pageNaviResponse.isPrev != 1}" href="javascript:;" class="beforeBt"></a>
                        <ul th:each="index: ${#numbers.sequence(response.pageNaviResponse.decadeFirst, response.pageNaviResponse.decadeLast)}">
                            <li th:class="${response.pageNaviResponse.current_page == index ? 'on' : ''}"><a th:href="@{'javascript: goPage(' + ${index} + ', \'#search_bank33_form\');'}" th:text="${index}"></a></li>
                        </ul>
                        <a th:if="${response.pageNaviResponse.isNext == 1}" href="javascript: goNextPage('#search_bank33_form');" class="afterBt"></a>
                        <a th:if="${response.pageNaviResponse.isNext != 1}" href="javascript:;" class="afterBt"></a>
                        <a th:href="@{'javascript: goPage(' + ${response.pageNaviResponse.lastPage} + ', \'#search_bank33_form\');'}" href="javascript: goPage();" class="nextBt"></a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- //contSection -->
</div>

<!-- //contents -->
<th:block layout:fragment="side">
</th:block>

<th:block layout:fragment="script">
    <link rel="stylesheet" href="/css/datepicker.min.css"/>
    <script type="text/javascript" src="/js/datepicker.min.js"></script>
    <script type="text/javascript" src="/js/i18n/datepicker.ko.js"></script>
    <script type="text/javascript" src="/js/i18n/datepicker.en.js"></script>
    <script type="text/javascript" src="/js/include/menu_banking.js"></script>
    <script type="text/javascript" src="/js/banking/bank33.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var coinlist = /*[[${response.coinList}]]*/ null;
        var DATEPICKER_ALERT_1 = [[#{datepicker.alert.1}]];
        var SENDMAIL_WITHDRAW = [[#{send.mail.withdraw}]];
        var SENDMAILSUCCESS = [[#{send.mail.success}]];
        var ALERT_EXCELDOWNLOAD_ERR_MSG_1 = [[#{alert.exceldownload.err.msg.1}]];
     /*]]>*/
    </script>
</th:block>
</body>
</html>