<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
<title th:text="#{bank1.title}"></title>
<th:block layout:fragment="css"></th:block>
</head>
<body>
<!-- leftMenu -->
<div layout:fragment="menu">
    <div th:replace="include/menu :: banking"></div>
</div>
<!-- //leftMenu -->
<div layout:fragment="content">
    <th:block th:if="${securityYN}=='N'">권한이 없습니다.</th:block>
    <div class="contSection" th:if="${securityYN}=='Y'">
        <form action="bank1" name="search_bank1_form" id="search_bank1_form" method="POST">
            <input type="hidden" name="sortName" th:value="${sortName}"/>
            <input type="hidden" name="sortOrderBy" th:value="${sortOrderBy}"/>
            <input type="hidden" name="page" id="page" th:value="${page}" />
            <input type="hidden" name="total" id="total" th:value="${response.counts.search}" />
            <h2 class="tit_h2" th:text="#{bank1.h2}"></h2>
            <div class="tableStyle2 bankInfo mb20">
                <table>
                    <colgroup>
                        <col style="width: 17%;" />
                        <col style="width: 33%;" />
                        <col style="width: 17%" />
                        <col style="width: 33%" />
                    </colgroup>
                    <tbody>
                    <tr>
                        <th th:text="#{member.id}"></th>
                        <td><span class="typeText"><input name="mb_id" type="text" th:placeholder="#{member.id}" th:value="${mb_id}" /></span></td>
                        <th th:text="#{request.date} + ' *'"></th>
                        <td>
                            <a href="javascript: setDateChoiceChange(0);"  class="dateSelectBtn2" th:text="#{bank31.date.select.btn.1}"></a>
                            <a href="javascript: setDateChoiceChange(2);"  class="dateSelectBtn2" th:text="#{bank31.date.select.btn.2}"></a>
                            <p class="dateChoice">
                                 <span>
                                    <img src="/images/calendar_icon.png"/>
                                    <input id="req_dt" name="req_dt" type="text" class="datepicker-here"
                                           data-range="true"
                                           data-multiple-dates-separator=" - "
                                           th:data-language="${#locale}"
                                           placeholder="YYYY.MM.DD - YYYY.MM.DD"
                                           th:value="${req_dt != null} ? ${req_dt} : ''"
                                    />
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{bank31.table.coin} + ' *'"></th>
                        <td class="sortTable">
                            <span class="typeSelect">
                                <select name="coin_name">
                                    <option th:text="#{all}" value="ALL" th:selected="${coin_name}=='ALL' ? 'true' : 'false'"></option>
                                    <th:block th:if="${#lists.size(response.coinList)} > 0" th:each="coin : ${response.coinList}">
                                        <option th:attr="value=${coin.coin_name}" th:selected="(${coin_name}==${coin.coin_name}) ? 'true' : 'false'" th:text="${coin.coin_name}"></option>
                                    </th:block>
                                </select>
                            </span>
                        </td>
                        <th th:text="#{status} + ' *'"></th>
                        <td>
                            <span class="typeSelect">
                                <select name="status">
                                    <option th:text="#{all}" value="ALL" th:selected="${status} or ${status} == 'ALL' ? 'true' : 'false'"></option>
                                    <option th:text="#{bank1.status.wait}" value="wait" th:selected="${status} == 'wait' ? 'true' : 'false'"></option>
                                    <option th:text="#{bank1.status.complete}" value="complete" th:selected="${status} == 'complete' ? 'true' : 'false'"></option>
                                    <option th:text="#{bank1.status.deposit}" value="deposit" th:selected="${status} == 'deposit' ? 'true' : 'false'"></option>
                                    <option th:text="#{bank1.status.refund}" value="refund" th:selected="${status} == 'refund' ? 'true' : 'false'"></option>
                                    <option th:text="#{bank1.status.cancel}" value="cancel" th:selected="${status} == 'cancel' ? 'true' : 'false'"></option>
                                </select>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th th:text="#{tx.id}"></th>
                        <td colspan="3">
                            <span class="typeText"><input type="text"  name="txid" th:placeholder="#{tx.id}"  th:value="${txid}"/></span>
                        </td>             
                        <!--
                        <th th:text="#{mem1.wallet.destination}"></th>
                        <td>
                            <span class="typeText"><input type="text" name="deposit_memo" th:placeholder="#{mem1.wallet.destination}" th:value="${deposit_memo}" /></span>
                        </td>       
                        -->                               
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="buttonRight mb50">
                <a href="javascript:void(0);" class="btnType" id="search_bank1_btn" th:text="#{search.btn}"></a>
            </div>
            <div class="listCountWrap">
                <h3 class="tit_h3" th:if="${#locale.toString()} == 'ko'" th:text="#{cnt.search} + ' ' + ${response.counts.search}  + #{cnt}"></h3>
                <h3 class="tit_h3" th:if="${#locale.toString()} == 'en'" th:text="${response.counts.search} + ' ' + #{cnt.search}"></h3>
                <span class="typeSelect">
                    <a href="javascript:void(0);" id="bank1_excel_down_btn" class="btnType" th:text="#{excel.download.btn}">Excel D/L</a>
                    <select name="search_listCount" id="searchListCount">
                        <option value="10" th:selected="${search_listCount == 10}">10</option>
                        <option value="30" th:selected="${search_listCount == 30}">30</option>
                        <option value="50" th:selected="${search_listCount == 50}">50</option>
                        <option value="100" th:selected="${search_listCount == 100}">100</option>
                        <option value="1000" th:selected="${search_listCount == 1000}">1000</option>
                </select>
                </span>
            </div>
            <div class="tableStyle bankInfo aCenter font13 mb20 fitTable">
                <table class="data-table">
                    <colgroup>
                        <col width="5%">
                        <col width="17%">
                        <!--<col width="8%">-->
                        <col width="17%">
                        <col width="13%">
                        <col width="5%">
                        <col width="6%">
                        <col width="5%">
                        <col width="12%">
                        <col width="12%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th th:text="#{number_}"></th>
                        <th><p class="orderby"><span th:text="#{request.date}"></span> <button type="button" id="create_dt" onclick="orderBy(this.id);" th:style="${sortName == 'create_dt'} ? 'color:red;' : ''" th:text="${sortName == 'create_dt' and sortOrderBy == 'ASC'} ? #{orderby.asc} : #{orderby.desc}"></button></p></th>
                        <th th:text="#{member.id}"></th>
                        <th th:text="#{coin}"></th>
                        <th th:text="#{amount}"></th>
                        <th th:text="#{bank1.status.point}"></th>
                        <th th:text="#{bank1.status.deposit.amount}"></th>
                        <th th:text="#{status}"></th>
                        <th><p class="orderby"><span th:text="#{completion.date}"></span> <button type="button" id="complete_dt" onclick="orderBy(this.id);" th:style="${sortName == 'complete_dt'} ? 'color:red;' : ''" th:text="${sortName == 'complete_dt' and sortOrderBy == 'ASC'} ? #{orderby.asc} : #{orderby.desc}"></button></p></th>
                        <th style="min-width: 50px;"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr class="data-row" th:if="${#lists.size(response.bankCoinRequestList)} > 0" th:each="bankCoinRequest, iter : ${response.bankCoinRequestList}">
                        <td class="data-input"  data-name="idx"><a th:href="'bank1_mod?od_id=' + ${bankCoinRequest.idx}" th:text="${bankCoinRequest.idx}"></a></td>
                        <td>
	                        <a th:href="'bank1_mod?od_id=' + ${bankCoinRequest.idx}"> 
	                            <span th:text="${#dates.format(bankCoinRequest.create_dt, 'yyyy-MM-dd HH:mm:ss')}"></span><br/>
	                            <!-- <span th:text="${bankCoinRequest.KST_reg_dt} ? '(' + ${#dates.format(bankCoinRequest.KST_reg_dt, 'yyyy-MM-dd HH:mm:ss')} + ')' : ''"></span> -->
	                        </a>
                        </td>
                        <td>
	                        <a th:href="'bank1_mod?od_id=' + ${bankCoinRequest.idx}"> 
	                        	<span th:text="${bankCoinRequest.mb_id}"></span>
	                        </a>
                        </td>
                        <td><a th:href="'bank1_mod?od_id=' + ${bankCoinRequest.idx}" th:text="${bankCoinRequest.coin_name}"></a></td>
                        <td style="min-width: 100px;" class="data-updateable" data-name="buy_point" ><a th:href="'bank1_mod?od_id=' + ${bankCoinRequest.idx}" th:text="${bankCoinRequest.coin_amount}"></a></td>
                        <td style="min-width: 100px;" class="data-updateable" data-name="od_receipt_coin" ><a th:href="'bank1_mod?od_id=' + ${bankCoinRequest.idx}" th:text="${#numbers.formatDecimal(bankCoinRequest.amount, 1, 'COMMA', 4, 'POINT')}"></td>
                        <td style="min-width: 100px;"><a th:href="'bank1_mod?od_id=' + ${bankCoinRequest.idx}" th:text="${bankCoinRequest.deposit_amount}"></a></td>
                        <td><a th:href="'bank1_mod?od_id=' + ${bankCoinRequest.idx}" th:text="#{'bank1.status.' + ${bankCoinRequest.status}}"></a></td>
                        <td>
                        <a th:href="'bank1_mod?od_id=' + ${bankCoinRequest.idx}"> 
                            <span th:text="${#dates.format(bankCoinRequest.complete_dt, 'yyyy-MM-dd HH:mm:ss')}"></span><br/>
                        </a>
                        </td>
                        <td>
                            <a href="#" th:if="${bankCoinRequest.status == 'wait'}" class="action-data-update dateSelectBtn" th:text="#{modify.btn}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pageFoot mb50">
                <!--<p class="footText mb15">[ 최종 동기화 : YYYY.MM.DD 23:59:00 ]</p>-->
                <ul class="footList">
                    <!--<li th:text="#{footer.message.1}"></li>-->
                </ul>
            </div>
            <div class="pageFoot inPaging">
                <div class="paging">
                    <a href="javascript: goPage('1', '#search_bank1_form');" class="prevBt"></a>
                    <a th:if="${response.pageNaviResponse.isPrev == 1}" href="javascript: goPrePage('#search_bank1_form');" class="beforeBt"></a>
                    <a th:if="${response.pageNaviResponse.isPrev != 1}" href="javascript:;" class="beforeBt"></a>
                    <ul th:each="index: ${#numbers.sequence(response.pageNaviResponse.decadeFirst, response.pageNaviResponse.decadeLast)}">
                        <li th:class="${response.pageNaviResponse.current_page == index ? 'on' : ''}"><a th:href="@{'javascript: goPage(' + ${index} + ', \'#search_bank1_form\');'}" th:text="${index}"></a></li>
                    </ul>
                    <a th:if="${response.pageNaviResponse.isNext == 1}" href="javascript: goNextPage('#search_bank1_form');" class="afterBt"></a>
                    <a th:if="${response.pageNaviResponse.isNext != 1}" href="javascript:;" class="afterBt"></a>
                    <a th:href="@{'javascript: goPage(' + ${response.pageNaviResponse.lastPage} + ', \'#search_bank1_form\');'}" href="javascript: goPage();" class="nextBt"></a>
                </div>
            </div>
            <div style="text-align: center;">
                <a id="saleInsertBtn" class="btnType" href="#" th:text="#{bank1.new}"></a>
            </div>
        </form>
    </div>
    <!-- //contSection -->
</div>
<!-- //contents -->
<th:block layout:fragment="side">
<!-- 매출수기등록 팝업 -->
<div class="popupArea" id="registPopup">
    <div class="dim"></div>
    <div class="popupLayer">
        <div class="popup">
            <div class="box pop900">
                <p class="popTit" th:text="#{bank1.new}"></p>
                <form action="ajax/bank1/new" method="post" name="insert_bank1_form" id="insert_bank1_form">
                    <input type="hidden" name="mg_id"  id="mg_id" th:value="${member_proc.id}"/>
                    <div class="popCont">

<div class="tableStyle2 mb20 ">
    <table>
        <colgroup>
            <col style="width: 20%;" />
            <col style="width: 80%;" />
        </colgroup>
        <tbody>
        <tr>
            <th th:text="#{bank1.new.member_id}"></th>
            <td>
                <dl class="targetUserSel">
                    <dd>
                        <div class="hiddenArea" style="display: block;">
                            <span class="typeText">
                                <input type="text" name="member_id" id="member_id" value="" />
                            </span>
                            <a href="javascript: searchMemberPop();" class="searchBtb" th:text="#{search.btn}"></a>
                        </div>
                    </dd>
                </dl>
            </td>
        </tr>
        <tr>
            <th th:text="#{bank1.new.member_no}"></th>
            <td>
                <dl class="targetUserSel">
                    <dd>
                        <div class="hiddenArea" style="display: block;">
                            <span class="typeText">
                                <input type="text" name="member_no" id="member_no" value="" />
                            </span>
                            <a href="javascript: searchMemberNoPop();" class="searchBtb" th:text="#{search.btn}"></a>
                        </div>
                    </dd>
                </dl>
            </td>
        </tr>
        <tr>
            <th th:text="#{bank1.new.date}"></th>
            <td>
                <dl>
                    <dd>
						<span class="dateChoicePopup marginTop0" style="margin-top: 0;">
							<img src="/images/calendar_icon.png"/>
							<input id="insert_date" name="insert_date" type="text"  class="datepicker-here" th:data-language="${#locale}" placeholder="YYYY.MM.DD" readonly />
						</span>
                    </dd>
                </dl>
            </td>
        </tr>
        <tr>
            <th th:text="#{bank1.new.asset_type}"></th>
            <td>
                <dl>
                    <dd>
                        <span class="typeSelect">
                            <select name="asset_type" id="asset_type">
                                <option value="" selected th:text="#{bank1.new.asset_type.select}"></option>
                                <option value="0" th:text="#{bank1.new.asset_type.0}"></option>
                                <option value="1" th:text="#{bank1.new.asset_type.1}"></option>
                            </select>
                        </span>
                    </dd>
                </dl>
            </td>
        </tr>
        <tr id="row_txid">
            <th th:text="#{bank1.new.tx_id}"></th>
            <td>
                <dl>
                    <dd>
                    	<span class="typeText"><input type="text" name="txid" /></span>
                    </dd>
                </dl>
            </td>
        </tr>
        <tr>
            <th th:text="#{bank1.status.point}"></th>
            <td>
                <dl>
                    <dd>
                        <span class="typeText">
                            <input type="text" name="buy_point" id="buy_point" value="" onchange="numberWithCommas(this.value, this, null, 0.00000000, 9999999999999999.99999999, 8)" onkeypress="return isNumberKey(event)" />
                        </span>
                    </dd>
                </dl>
            </td>
        </tr>
        <tr>
            <th th:text="#{bank1.new.reason}"></th>
            <td>
                <dl>
                    <dd>
                        <span class="typeText">
                            <textarea id="reason" name="reason" style="width:100%"></textarea>
                        </span>
                    </dd>
                </dl>
            </td>
        </tr>
        </tbody>
    </table>
</div>

                    </div>
                    <p class="popButton">
                        <a href="javascript: insertSale();"  class="popConfirm" th:text="#{confirm.btn}"></a>
                        <a href="javascript:;" class="popCancel" th:text="#{cancel.btn}"></a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //매출수기등록 팝업 -->
<!-- userSearch -->
<div class="popupArea" id="userSearch">
    <div class="dim"></div>
    <div class="popupLayer">
        <div class="popup">
            <div class="box pop620">
                <p class="popTit" th:text="#{bank1.user_search.title_id}"></p>
                <div class="popCont">
                    <!-- userSearch -->
                    <div class="mb10">
		                <span class="typeText">
		                    <input type="text" id="userSearchQuery" th:placeholder="#{bank1.user_search.input_hint}" size="50" />
		                </span>
	                	<a href="#" onclick="requestSearchMember($('#userSearchQuery').val()); return false" class="searchBtb" th:text="#{search.btn}"></a>
	                </div>
                    <div class="tableStyle aCenter inputArea mb10">
                        <table>
                            <colgroup>
                                <col style="width: 10%;">
                                <col style="width: 25%;">
                                <col style="width: 20%;">
                                <col style="width: 20%;">
                                <col style="width: 35%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th th:text="#{select}"></th>
                                <th th:text="#{bank1.user_search.id}"></th>
                                <th th:text="#{bank1.user_search.no}"></th>
                                <th th:text="#{bank1.user_search.name}"></th>
                                <th th:text="#{bank1.user_search.join_date}"></th>
                            </tr>
                            </thead>
                            <tbody id="searchMemeberList">

                            </tbody>
                        </table>
                    </div>
                    <!-- //userSearch -->
                </div>
                <p class="popButton">
                    <a href="javascript:selectMemeberPop();" class="popConfirm" id="confirmBtn" th:text="#{confirm.btn}"></a>
                    <a href="javascript:;" class="popCancelCustom" th:text="#{cancel.btn}"></a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- //userSearch -->
<!-- userSearchNo -->
<div class="popupArea" id="userSearchNo">
    <div class="dim"></div>
    <div class="popupLayer">
        <div class="popup">
            <div class="box pop620">
                <p class="popTit" th:text="#{bank1.user_search.title_no}"></p>
                <div class="popCont">
                    <!-- userSearch -->
                    <div class="mb10">
		                <span class="typeText">
		                    <input type="text" id="userSearchQueryNo" th:placeholder="#{bank1.user_search.input_hint_no}" size="50" />
		                </span>
	                	<a href="#" onclick="requestSearchMemberNo($('#userSearchQueryNo').val()); return false" class="searchBtb" th:text="#{search.btn}"></a>
	                </div>
                    <div class="tableStyle aCenter inputArea mb10">
                        <table>
                            <colgroup>
                                <col style="width: 10%;">
                                <col style="width: 20%;">
                                <col style="width: 25%;">
                                <col style="width: 20%;">
                                <col style="width: 35%;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th th:text="#{select}"></th>
                                <th th:text="#{bank1.user_search.no}"></th>
                                <th th:text="#{bank1.user_search.id}"></th>
                                <th th:text="#{bank1.user_search.name}"></th>
                                <th th:text="#{bank1.user_search.join_date}"></th>
                            </tr>
                            </thead>
                            <tbody id="searchMemeberNoList">

                            </tbody>
                        </table>
                    </div>
                    <!-- //userSearch -->
                </div>
                <p class="popButton">
                    <a href="javascript:selectMemeberNoPop();" class="popConfirm" id="confirmNoBtn" th:text="#{confirm.btn}"></a>
                    <a href="javascript:;" class="popCancelCustom" th:text="#{cancel.btn}"></a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- //userSearchNo -->
</th:block>
<th:block layout:fragment="script">
    <link rel="stylesheet" href="/css/bank.css"/>
    <link rel="stylesheet" href="/css/datepicker.min.css"/>
    <script type="text/javascript" src="/js/datepicker.min.js"></script>
    <script type="text/javascript" src="/js/i18n/datepicker.ko.js"></script>
    <script type="text/javascript" src="/js/i18n/datepicker.en.js"></script>
    <script type="text/javascript" src="/js/include/menu_banking.js"></script>
    <script type="text/javascript" src="/js/banking/bank1.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var coinlist = /*[[${response.coinList}]]*/ null;
        var DATEPICKER_ALERT_1 = [[#{datepicker.alert.1}]];
        var SENDMAIL_DEPOSIT = [[#{send.mail.deposit}]];
        var SENDMAILSUCCESS = [[#{send.mail.success}]];
        var ALERT_EXCELDOWNLOAD_ERR_MSG_1 = [[#{alert.exceldownload.err.msg.1}]];
        
        var MEMBER_NOT_EXIST = [[#{mem4.alert.message.1}]];
        var INPUT_MEMBER_ID = [[#{mem4.alert.message.10}]];
        
        var BANK1_NEW_SAVE_CONFIRM = [[#{bank1.new.save.confirm}]];
        var IMPORT_REQUESTFAIL = [[#{import.requestfail}]];
        
        var MODIFY_BTN= [[#{modify.btn}]];
        var SAVE_BTN= [[#{save.btn}]];
        /*]]>*/
    </script>
</th:block>
</body>
</html>