<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
	<title th:text="#{sys2.title}"></title>
	<th:block layout:fragment="css">

	</th:block>
</head>
<body>
<!-- leftMenu -->
<div layout:fragment="menu">
	<div th:replace="include/menu :: system"></div>
</div>
<!-- //leftMenu -->
<div layout:fragment="content">

	<th:block th:if="${securityYN}=='N'">권한이 없습니다.</th:block>
	<div class="contSection" th:if="${securityYN}=='Y'">
		<h2 class="tit_h2" th:text="#{rankextrapay.h2}"></h2>
		<p class="topButton" th:if="${mode} == 'modify'">
			<a href="javascript:void(0);" class="btnType import" th:text="#{import.btn}"></a>
		</p>
		<p class="topButton" th:unless="${mode} == 'modify'">
			<a href="javascript:void(0);" class="btnType edit" th:if="${member_proc.role == 0}" th:text="#{modify.btn}"></a>
		</p>
		<div class="tableStyle aCenter inputArea mb20">
			<table class="rankextrapay">
				<colgroup>
					<col style="width: 10%;" />
					<col style="width: 10%;" />					
					<col style="width: 10%;" />
					<col style="width: 15%;" />
					<col style="width: 15%;" />
					<col style="width: 15%;" />
					<col style="width: 15%;" />
					<col style="width: 10%;" />
					<col style="width: 10%;" />			
				</colgroup>
				<thead>
				<tr>
					<th rowspan="2">직급</th>
					<th colspan="6">직급선정조건 산하 매일 1회 갱신</th>					
					<th rowspan="2">지급률<br><br>% (일)</th>
				</tr>
				<tr>
					<th>개인투자금액(LST)</th>
					<th>그룹투자합계(LST)</th>
					<th>S1(명)</th>
					<th>S2(명)</th>
					<th>S3(명)</th>
					<th>S4(명)</th>					
				</tr>
				</thead>
				<tbody th:with="listSize=${#lists.size(rankExtraPay)}">
				<th:block th:if="${mode}=='modify'">
					<tr th:each="rank, iter : ${rankExtraPay}">
						<td>
							<input type="hidden" th:id="rank_+${rank.idx}" th:value="${rank.idx}">
							<p class="typeText" th:text="${rank.rank}"></p>
						</td>
						<td>							
							<p class="typeText" th:if="${rank.idx == 2}" >
								<input type="text" th:id="five_high_count_+${rank.idx}" th:value="${rank.five_high_count}" />
							</p>
							<p class="systemBox2" th:unless="${rank.idx == 2}" th:text="'-'"></p>
						</td>						
						<td>							
							<p class="typeText" th:if="${rank.idx == 2}" >
								<input type="text" th:id="investtotal_+${rank.idx}" th:value="${rank.investtoltal}" />
							</p>
							<p class="systemBox2" th:unless="${rank.idx == 2}" th:text="'-'"></p>
						</td>						
						<td>
							<p class="systemBox2" th:if="${rank.t1_count !=0}" th:text="'직추천 S1이 '+ ${rank.t1_count}+'명 이상'"></p>
							<p class="systemBox2" th:unless="${rank.t1_count !=0}" th:text="'-'"></p>
						</td>
						<td>
							<p class="systemBox2" th:if="${rank.t2_count !=0}" th:text="'직추천 S2가 '+ ${rank.t2_count}+'명 이상'"></p>
							<p class="systemBox2" th:unless="${rank.t2_count !=0}" th:text="'-'"></p>
						</td>
						<td>
							<p class="systemBox2" th:if="${rank.t3_count !=0}" th:text="'직추천 S3가 '+ ${rank.t3_count}+'명 이상'"></p>
							<p class="systemBox2" th:unless="${rank.t3_count !=0}" th:text="'-'"></p>
						</td>
						<td>
							<p class="systemBox2" th:if="${rank.t4_count !=0}" th:text="'직추천 S4가 '+ ${rank.t4_count}+'명 이상'"></p>
							<p class="systemBox2" th:unless="${rank.t4_count !=0}" th:text="'-'"></p>
						</td>						
						<td>
							<p class="typeText">
								<input type="text" th:id="rank_paymentrate_+${rank.idx}" th:value="${#numbers.formatDecimal(rank.paymentrate, 1, 'COMMA', 2, 'POINT')}" onchange="numberWithCommas(this.value, this, null, 0.00, 100, 2)" onkeypress="return isNumberKey(event)" />
							</p>
						</td>
					</tr>
				</th:block>
				<th:block th:unless="${mode}=='modify' and ${listSize}>0" th:each="rank:${rankExtraPay}">
					<tr>
						<td>
							<p class="systemBox2" th:id="sponsor_+${rank.idx}" th:text="${rank.rank}"></p>
						</td>
						<td>							
							<p class="systemBox2" th:if="${rank.idx == 2}" th:text="${rank.five_high_count}"></p>
							<p class="systemBox2" th:unless="${rank.idx == 2}" th:text="'-'"></p>
						</td>							
						<td>							
							<p class="systemBox2" th:if="${rank.idx == 2}" th:text="${rank.investtoltal}"></p>
							<p class="systemBox2" th:unless="${rank.idx == 2}" th:text="'-'"></p>
						</td>	
						<td>
							<p class="systemBox2" th:if="${rank.t1_count !=0}" th:text="'직추천 S1이 '+ ${rank.t1_count}+'명 이상'"></p>
							<p class="systemBox2" th:unless="${rank.t1_count !=0}" th:text="'-'"></p>
						</td>
						<td>
							<p class="systemBox2" th:if="${rank.t2_count !=0}" th:text="'직추천 S2가 '+ ${rank.t2_count}+'명 이상'"></p>
							<p class="systemBox2" th:unless="${rank.t2_count !=0}" th:text="'-'"></p>
						</td>
						<td>
							<p class="systemBox2" th:if="${rank.t3_count !=0}" th:text="'직추천 S3가 '+ ${rank.t3_count}+'명 이상'"></p>
							<p class="systemBox2" th:unless="${rank.t3_count !=0}" th:text="'-'"></p>
						</td>
						<td>
							<p class="systemBox2" th:if="${rank.t4_count !=0}" th:text="'직추천 S4가 '+ ${rank.t4_count}+'명 이상'"></p>
							<p class="systemBox2" th:unless="${rank.t4_count !=0}" th:text="'-'"></p>
						</td>
						<td>
							<p class="systemBox2"><th:block th:text="${#numbers.formatDecimal(rank.paymentrate, 1, 'COMMA', 2, 'POINT')}"></th:block>%</p>
						</td>
					</tr>
				</th:block>
				</tbody>
			</table>
		</div>
		<div class="buttonRight" th:if="${mode} == 'modify'">
			<a href="javascript:void(0);" class="btnType cancel" th:text="#{cancel.btn}"></a>
		</div>
	</div>
	<!-- //contSection -->
</div>

<th:block layout:fragment="script">
	<script type="text/javascript" src="/js/admin_common.js"></script>
	<script type="text/javascript" src="/js/include/menu_system.js"></script>
	<script type="text/javascript" src="/js/system/sys2.js"></script>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var STR_Q_IMPORT = [[#{import.message}]];
		var STR_Q_MODIFY = [[#{basicextrapay.q.modify}]];
		var STR_NOT_ENOUGH_PARAMS =[[#{import.notenoughparams}]];
		var STR_REQUEST_FAIL=[[#{import.requestfail}]];
		var STR_REQUEST_SUCCESS=[[#{import.reuqestsuccess}]];
		var COMMON_TEXT_CONFIRM = [[#{common.text.confirm}]];
		var COMMON_TEXT_NOTHINGSELECTED = [[#{common.text.nothingselected}]];
		/*]]>*/
	</script>
</th:block>
</body>
</html>